<% unless flash[:notice].blank? %>
    <div class="notice">
        <%= flash[:notice] %>
    </div>
<% end %>

<div class="sections index">
    <h2>Subjects</h2>

    <%= link_to("Add New Section", new_section_path, :class => 'action new') %>

    <table class="listing" summary="Section list">
        <tr class="header">
            <th>#</th>
            <th>  Section </th>
            <th>  Visible </th>
            <th>  Page id  </th>
            <th>  Content type  </th>
            <th>  Action  </th>
        </tr>
        <% @sections.each do |section| %>
        <tr>
            <td><%= section.position %></td>
            <td><%= section.name %></td>
            <td class="center"><%= section.visible ? 'Yes' : 'No' %>
            <td class="center"><%= section.page_id %>
            <td class="center"><%= section.content_type %>
            <td class="actions">
                <%= link_to("Show", section_path(section), :class => 'action show') %>
                <%= link_to("Edit", edit_section_path(section), :class => 'action edit') %>
                <%= link_to("Delete", delete_section_path(section), :class => 'action delete') %>
            </td>
        </tr>
        <% end %>
    </table>
</div>


