<%= link_to("<< Back to list", pages_path, :class => 'back-link')%>

<div class="pages new">
    <h2>Create page</h2>

    <%= form_for(@page) do |p| %>
    <table>
        <tr>
            <th>Name</th>
            <td><%= p.text_field(:name) %></td> 
        </tr>
        <tr>
            <th>Subject id</th>
            <td><%= p.text_field(:subject_id) %></td> 
        </tr>
        <tr>
            <th>Position</th>
            <td><%= p.text_field(:position) %></td> 
        </tr>
        <tr>
            <th>Visible</th>
            <td><%= p.text_field(:visible) %></td> 
        </tr>
        <tr>
            <th>Permalink</th>
            <td><%= p.text_field(:permalink) %></td> 
        </tr>
    </table>

    <div class="form-buttons">
        <%= p.submit("Create page")%>
    </div>

    <% end %>
</div>